/* styling the headings */
.main{
    color: rgb(255,0,0);
    background-color: rgba(0,0,0,0.6)
}
.subheading{
    color: rgba(0,250,0,1);
    font-size: 40px;
    width: 400px;
    background-color: rgba(0, 0, 175, 0.5);
}

/* sytling the divs */
.inner{
    width: 100%;
    height: 50%;
    background-color: red;
}

.outer{
    width: 400px;
    height: 400px;
    background-color: blue;
}
/* syling the class banner and header */
.banner{
    background-color: brown;
    height: 50vh;
    width: 50vw;
}

*{
    margin: 0px;
  padding: 0px;
  background-color: blue;
}