*{
    margin: 0px;
}

h1{
    background-color: red;
    padding: 20px 50px 30px 20px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 10px;
    border-color: green;
    5
  }
  p{
    background-color: blue;
    padding: 30px 25px;
    border: 13px solid yellow;
    border-radius: 50%;
    margin: -10%;
  }