nav a{
    background-color: red;
    color: white;
    font-weight: bolder;
    font-size: 32px;
    position: fixed;
    top: 0;
    right: 0;
    margin-left: 5px;
}

div{
    border: 3px solid red;
    background-color: yellow;
    margin-top: 40px;
    position: static;
}
.one{
    background-color: blue;
    
}
.two{
    background-color: green;
}
.special{
    background-color: grey;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
p{
    background-color: aliceblue;
}