/* .buttons{
    margin: 3rem; 
}
a{
    background-color: rgba(0, 200, 0, 0.5);
        padding: 3rem;
        text-decoration: none;
        color: #222;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        margin: 0 20px;
}
#one{
    border: 0.2rem solid #222;
}
#two{
    outline-width: 0.2rem;
    outline-style: solid;
    outline-color: #222;
    outline: 0.2rem solid #222;
    outline-offset: 10px;
    outline-offset: -10px;
}

 */
/*  body{
    text-align: center;
 }
.block{
    background-color: blue;
    color: white;
     display: inline; 
    width: 300px;
    margin: 10px auto;
}
.inline{
    background-color: red;
    color: white;
    /* display: block; 
} */

/* syling the navigation links */
/* body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    background-color: #222;
    color: coral;
    padding: 5px;
    margin: 10px 10px;
    display: block;
    width: 100px;
}

a{
    font-size: 20px;
    display: inline-block;
    margin: 20px;
} */

*{
    box-sizing: border-box;
}
.box1, .box2, .box3{
    height:200px;
    width: 200px;
    color: white;
}
.box1{
    background-color: red;
    padding: 20px;
    box-sizing: border-box;
}
.box2{
    background-color: blue;
}
.box3{
    background-color: green;
    padding:20px ;
}