/* .heading {
    color: #f15039;
}
.text {
    color: #32ff0e;
}
.main-text {
    color: #1313fa;
}
.second-heading {
    color: #f15000;
} */

:root {
    /* variables */
    --primaryColor: #f15025;
    --secondaryColor: #1313fa;
    --mainTransition: all 2s linear;
}
.heading {
    color: var(--primaryColor);
}
.second-heading {
    color: var(--primaryColor);
}
.second-heading:hover {
    color: var(--secondaryColor);
    transition: var(--mainTransition);
}