img{
    height: 100px;
    width: 100px;
    position: absolute;
}
.banner{
    margin: 20px;
    width: 70vw;
    height: 70vh;
    border: 5px solid red;
    position: relative;
}
.one{
    top: 0;
    left: 0;
    z-index: -2;
    
}
.two{
    top: 10%;
    left: 10%;
    z-index: -1;
}
.three{
    top: 20%;
    left: 20%;
    z-index: 0;
}

